:root {
    --border: 1px solid black;
}

.container {
    display: grid;
    height: 100vh;

    grid-template-columns: 150px auto 500px;
    grid-template-rows: auto 1fr 30px;

    grid-template-areas:
        "header header header"
        "nav main aside"
        "footer footer footer"

}

body {
    margin: 0;
    border: var(--border);
}


nav {
    grid-area: nav;
    border: var(--border);
}

main {
    grid-area: main;
    background-color: #F4ebe2;
    padding-left: 15px;
    text-align: start;
    border: var(--border);
}

footer {
    grid-area: footer;
    background-color: black;
    color: white;
    text-align: center;
    border: var(--border);
}

aside {
    grid-area: aside;
    background-color: #bb91a2;
    border: var(--border);
    width: 500px;
}

aside p{
    font-size: 18px;
}

header {
    width: vh;
    padding-left: 20px;
    background-color: #F4ebe2;
    grid-area: header;

    font-family: Roboto, sans-serif;
    letter-spacing: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    border: var(--border);
}

.nav {
    background-color: #FFC5D3;
    width: 150px;
    padding-left: 15px;
    border: var(--border);
}

.nav p {
    margin-bottom: 20px;

}

.tipp {
    width: 100px;
    height: 150px;
    border-radius: 50px;
    background-color: white;
    border: var(--border);
}

.tipp-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 30px;
}

.first {
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    color: black;
}

.aboutus {
    text-decoration: underline;
}