:root {
    --border: 1px solid black;
}

.container {
    display: grid;
    height: 100vh;

    grid-template-columns: 150px auto 500px;
    grid-template-rows: auto 1fr 30px;

    grid-template-areas:
        "header header header"
        "nav main aside"
        "footer footer footer"

}

aside {
    grid-area: aside;
    background-color: #D98A6C;
    border: var(--border);
    width: 500px;
}

aside p {
    font-size: 18px;
    padding: 30px;
}

aside h1,
h2 {
    padding-left: 30px;
}

.aboutus {
    text-decoration: underline;
}

img {
    width: 300px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
}
