:root {
    --border: 1px solid black;
}

main {
    grid-area: main;
    background-color: #F4ebe2;
    padding-left: 15px;
    text-align: center;
    border: var(--border);
    overflow-y: auto;
}


.tag {
    gap: 10px;
}

.trends {
    text-decoration: underline;
}

.ideas-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ideas {
    margin-left: 30px;
    padding-right: 20px;
    margin-top: 50px;
    border: 1px solid black;
    width: 29%;
    height: auto;
    border-radius: 30px;
    background-color: white;
}

.footer{
    word-spacing:250px;
}

img{
    width: 100px;
}

.camera{
    margin: none;
}